.title {
    height: 120px;
    background: url(../images/body_bg.jpg) top;
}

.menuLsit {
    height: 80px;
    margin: 0 0 0 15px;
}

.articlelist h1 {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 4px solid #aaa;
}

.articlelist article {
    height: 140px;
    border-bottom: 1px solid #aaa;
}

article h3 {
    font-size: 16px;
    font-weight: bold;
}

article h3 a {
    color: black;
}

.pagelist {
    height: 400px； margin:0 0 10px;
}

.pagelist h1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 2px solid #aaa;
}

.pagelist ul {
    margin: 0px;
    padding: 0px;
}

.pagelist a {
    color: #6a3906;
}

.pagelist li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.article_details h1 {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 4px solid #aaa;
}

.article_details p {
    line-height: 24px;
    font-family: "微软雅黑";
    font-size: 16px;
}

.article_details content .img {
    background-size: 100%;
    background: url(../zwpx/zwpx.jpg) no-repeat;
}

.game-list {
    height: 200px;
    
    border-bottom: 1px solid #aaa;
}

.game-list img {
	float: left;
	width: 180px;
	height: 180px;
	margin: 10px 10px 10px 10px;
}

.game-list ul {
	float: right;
	width: 900px;
	margin: 10px 10px 10px 10px;
	list-style-type: none;
}

.game-list ul h3 {
	font-size: 16px;
    font-weight: bold;
}

.game h1{
	font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 4px solid #aaa;
}

.game h1 a {
    color: black;
}

.aboutMe h3 {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
}

.contactMe h3 {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
}